
html {
  scroll-behavior: smooth;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209deg 56% 9%);
  --clr-grey-2: hsl(211, 40%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #ffffff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: #75CFB8;
  /*#75CFB8
    #BBDFC8
    #F0E5D8
    #FFC478
  */
  --clr-black: #222222;
  /*--ff-primary:'Josefin Sans', sans-serif;*/
  --ff-secondary: 'Josefin Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1200px;
  --fixed-width: 620px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier+Prime', sans-serif;
    line-height: 1.5;
    font-size:1.2rem;
    color: var(--clr-grey-3); 
    background-color: var(--clr-grey-10);
}
/*
 h1 {
  font-size: 2.5rem;
  text-transform: capitalize;

}*/

h2 {
  font-weight: 300;
  font-size: 2rem;
  text-transform: capitalize;  
  color: var(--clr-grey-1);
  
 
}

h2 span {
    color: lightgreen;
  }
.logo {
  text-transform: capitalize;
  font-size: 2rem;
}
.logo span {
    color: lightgreen;
  
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*SECTION HEADER******************/

/*scrool*/
/* navbar */
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--clr-white);
    padding: 1rem 0;
    z-index: 3;

}


.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.nav-center {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.links a {
  /*background: var(--clr-white);*/
  color: var(--clr-grey-3);
 /* font-size: 1.1rem;*/
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-3);
}

header {
  height:100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column ;
  background: url(image/thought-catalog-505eectW54k-unsplash.jpg);
      /*background-attachment: fixed;*/
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
}

header::before {
  position: absolute;
  top:0;
  right:0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}


.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
.nav-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
   }

.banner {   
      height: 100vh;
      width: 100%;

      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 2;
     
  }

  .container h1 {
    /*font-size: 2.5rem;*/
    color: var(--clr-white);
    text-transform: capitalize;
  }

   .container p {
    color: var(--clr-white);
  }
    .btn {
      background-color: var(--clr-white);
      text-transform: uppercase;
      color: var(--clr-grey-3);
      padding: 0.7rem 1.4rem;
     transition: all 0.3s ease-in-out;
     border-radius: 3px;
    }
    .btn:hover {
      color: #ffffff;
      
      background-color: var(--clr-grey-5);   
    }
/*BUTTON-SHOP*/
.button-shop {
  height: 7rem;
  display: flex;
  background-color: #ffffff;
}
.container-shop {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      
    }
     .container-shop .filter-btn {
      width: 25%;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      background-color: var(--clr-grey-1);
      color: white;
      font-size: 1.2rem;
      border-radius: 3px;
      transition: all 0.1s ease-in-out;

    }
    .container-shop .filter-btn:focus {
      background-color: #ffffff;
      color: var(--clr-grey-1);
    }
    
/*
    .container-shop .filter-btn:hover {
      background-color: #ffffff;
      border: 1px solid #222222;
    }
    */
/*SECTION SHOP*/
     .shop-section {
      display: flex;
      height: auto;
      padding: 2rem 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /*scroll-margin-top: 1rem;*/
    }
    

  /*FEATURED PRODUCT*/
  .featured-section {  
    margin-bottom: 2rem;
  }

  .title span {
    color:#75CFB8;
  }

  .product-card {
    width: 100%;
  }
  .img {
    width:100%;
    height: 500px; 
    object-fit: cover;
    box-shadow: 5px 5px 10px #dbd4d4;; 
    border-radius: 3px;  
    
  }
  .card-container {
    display: grid;
    grid-template-columns:  auto;  
    grid-template-rows:  auto;
    column-gap: 1rem;
    row-gap: 1.6rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
    opacity: 1;
    transition: all ease-in-out 2s ;
  } 
  

.product-title {
  display: block;
  text-align: center;
  
}

h4 {
  /*font-size: 1.6rem;*/
  font-weight: 300;
  color: #727070;
  margin: 0;
 
}
.price {
  margin: 0;
 color: #b8b8b8;
  font-size: 1.6rem;  
}

/*OUR BRENDS*/
.section-brends {
  padding: 2rem 2rem;
  height: auto;
  text-align: center;
  background-color: white;
}
.our-brends {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
    
}

.section-subscribe {
  padding: 0 2rem;
  text-align: center;
  
}
.logo-brends h3 {
  padding: 1.5rem 3rem;
  
}
.img-logo {
  width:auto;
  height:150px;
  box-shadow: 5px 5px 10px #dbd4d4;
  object-fit: cover;
  
}
/*SUBSCRIBE*/
.section-subscribe {
  height: 12rem;
  padding: 0 2rem;
  text-align: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form label {
  margin-right: 15px;
  font-size: 1.1rem;
}
input[type="email"] {
  width: 16rem;
  height: 3rem;
  font-size: 1.1rem;
 

}
::placeholder {
  color: #75CFB8;
 text-align: center;
}

input[type="button"] {
  width: 9rem;
  padding: 0.9rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.section-footer {
  height: 12rem;
  background-color: var(--clr-grey-3);
  color: #fff;
}


/*MEDIAQUERY************************/

@media screen and (min-width: 800px) {
    
.h1 {
  color: var(--clr-white);
  font-size: 3rem;
    } 
.nav-toggle {
  display: none;
  }
    .nav-center {   
     display: flex;
    align-items: center;
    justify-content:space-between;
  
    }
    nav {
      background: transparent;
    }
   
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .links a {
      background: transparent;
      color: var(--clr-white);    
      text-transform: capitalize;
      letter-spacing: var(--spacing);
      display: block;
      transition: var(--transition);
      margin: 0 1rem;
      font-weight: bold;
      padding: 0;
    }
    .links a:hover {
      color: var(--clr-white);
    }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

  .links-container {
    height: auto !important;  
    }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;

    }

  header {
    height:100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column ;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
   }

  /*FEATURED PRODUCT*/
  .featured-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title span {
    color:#75CFB8;
  }

  .product-card {
    width: 100%;
  }
  .img {
    width:27vw;    
    height: 33vh;
    object-fit: cover;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;

  } 

  .section-brends {
    padding: 2rem 2rem;
    text-align: center;
  }
  .our-brends {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
      justify-content: center;
      row-gap: 2rem;
      column-gap: 2rem;
  }
  .logo-brends h3 {
    padding: 1.5rem 3rem;
      
  }

  .logo-brends img{
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.6s;
  }

  .logo-brends img:hover{
    opacity: 0.4;
    transform: scale(1.15);
   
  }
  .section-subscribe {
    padding: 0 2rem;
    text-align: center;
    scroll-margin-top: 1em;
  }

}

.section-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

